.footer
  span ©️2019-#{new Date().getFullYear()} 
  p Designed By&nbsp;
    strong
      a(href='https://github.com/random-yang') RandomYang
  p Changed By
    strong
      a(href='http://www.goodnight.wiki') GoodNight
  p Powered By&nbsp;
    strong
      a(href='https://hexo.io') hexo
  p
    div#beian
      a(href='http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=61019002001135')
        img(src='../img/beian.png')
        span 陕公网安备 61019002001135号&nbsp;
    div#tengxun
      a(href='http://beian.miit.gov.cn') 陕ICP备20010639号
